// Fonts
$default-font: 'Oswald', sans-serif;

// Colors
$default-color: #000;
$default-bg-color: #fff;
$cta-color: #d72b26;
$cta-text-color: $default-bg-color;

// sizes
$hero-title-size: 3.5vw;
$normal-title-size: 2vw;
$cta-size: 1.5vw;
$title-indent: 0.5vw;
$offset-value: 1.5vw;
$normal-padding: 0.75vw;

$adjusted-hero-title-size: 5.2vw;
$adjusted-offset-value: 3vw;
$adjusted-cta-size: 3vw;
$adjusted-padding: 2.5vw;
